.project
.classpath
.settings
.externalToolBuilders
target
logs
/src/main/solr/solr/songs/data/
/src/main/solr/solr/suggestions/data/
/src/main/solr/solr-webapp/
#/src/main/solr/solr/songs/data/index/
#/src/main/solr/solr/songs/data/*
#/src/main/solr/solr/songs/data/index/*
