<ul class="nav-bar">
    <li><a href="#mypage">Back</a></li>
</ul>
<div class="panel">
    <h3>{{lastFmInfo.artist.name}}</h3>
    <div class="row">
        <div class="twelve columns">
            <div  style="margin-right: 10px;"  class="left">
                <img src="{{artist.image[0]['#text']}}">
            </div>
            <p>{{artist.bio.summary}}</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <div>Google Map</div>
            
            <div id="map_canvas" style="width:500px;height:300px;margin:10px"></div>
            
			<script type="text/javascript">
				$(document).ready(
						function() {
							var mapOptions = {
								center : new google.maps.LatLng(-34.397, 150.644),
								zoom : 8,
								mapTypeId : google.maps.MapTypeId.ROADMAP
							};
							var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
						});
			</script>
            
        </div>
        <div class="four columns">
            <ul>
                <li data-ng-repeat="event in events">{{event.startDate}}, {{event.venue.name}}, {{event.venue.location.city}}</li>
            </ul>
        </div>
    </div>
</div>
