<ul class="nav-bar">
    <li><a href="#mypage">Back</a></li>
</ul>
<div class="panel">
    <h3>Artiste YYYY</h3>
    <div class="row">
        <div class="two columns">
            <img src="http://placehold.it/500x500&amp;text=Image">
        </div>
        <div class="ten columns">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <div>Google Map</div>
            
            <div id="map_canvas" style="width:500px;height:300px;margin:10px"></div>
            
			<script type="text/javascript">
				$(document).ready(
						function() {
							var mapOptions = {
								center : new google.maps.LatLng(-34.397, 150.644),
								zoom : 8,
								mapTypeId : google.maps.MapTypeId.ROADMAP
							};
							var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
						});
			</script>
            
        </div>
        <div class="four columns">
            <ul>
                <li>Events</li>
                <li>Events</li>
                <li>Events</li>
                <li>Events</li>
            </ul>
        </div>
    </div>
</div>
