<dl class="tabs two-up">
    <dd><a href="#news">News</a></dd>
    <dd class="active"><a>My page</a></dd>
</dl>

<div class="row collapse">
    <div class="two mobile-one columns">
        <span class="prefix">Artist?</span>
    </div>
    <div class="ten mobile-three columns">
        <input type="text" data-ng-model="searchKey" data-ng-change="searchArtist()"/>
    </div>
</div>
<div class="row">
    <h5>Search results</h5>
    <div class="twelve columns" data-ng-repeat="artist in searchResult.docs">
        <div  style="margin-right: 10px;"  class="left">
            <img src="http://placehold.it/80x80&amp;text=[img]">
        </div>
        <p>{{artist.name}}</p>
        <button class="button right">Add artist to your list</button>
    </div>
</div>
<div class="row">
    <h5>My favorite artists</h5>
    <div class="twelve columns">
        <div  style="margin-right: 10px;"  class="left">
            <img src="http://placehold.it/80x80&amp;text=[img]">
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
    </div>
</div>
<div class="row">
    <h5>My city loves : </h5>
    <div class="twelve columns">
        <div  style="margin-right: 10px;"  class="left">
            <img src="http://placehold.it/80x80&amp;text=[img]">
        </div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
    </div>
</div>
