<dl class="tabs two-up">
    <dd><a href="#news">News</a></dd>
    <dd class="active"><a href="#">My page</a></dd>
</dl>

<div class="row collapse">
    <div class="two mobile-one columns">
        <span class="prefix">Artist?</span>
    </div>
    <div class="ten mobile-three columns">
        <input type="text" />
    </div>
</div>
<div class="row collapse">
    <h5>We have find these artists for you</h5>
    <div class="two mobile-one columns">
        <img src="http://placehold.it/500x500&amp;text=Image">
        <button class="button">Add artist to your list</button>
    </div>
    <div class="ten mobile-two columns">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
    </div>
</div>
<div class="row collapse">
    <h5>Your preferred artists</h5>
    <div class="two mobile-one columns">
        <img src="http://placehold.it/500x500&amp;text=Image">
    </div>
    <div class="ten mobile-two columns">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
    </div>
</div>
<div class="row collapse">
    <h5>My city loves</h5>
    <div class="two mobile-one columns">
        <img src="http://placehold.it/500x500&amp;text=Image">
    </div>
    <div class="ten mobile-two columns">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
    </div>
</div>
