<dl class="tabs two-up">
    <dd class="active"><a>News</a></dd>
    <dd><a href="#mypage">My page</a></dd>
</dl>

<div class="row">
    <div class="six columns">
        <div class="panel">
            <h4>What's up ?</h4>
            <div class="news-item" data-ng-repeat="vote in latestVotes">{{vote.user.name}} added <a data-ng-click="openArtistPage(vote.artist.mbid)">{{vote.artist.name}}</a></div>
        </div>
    </div>
    <div class="six columns">
        <div class="panel">
            <h4>Events</h4>
        </div>
    </div>
</div>
