<div class="row">
	<div class="six columns">
		<h2>Register !</h2>
		<form ng-submit="register()">
			<fieldset>
				<label>Email</label>
				<input ng-model="email" type="email" name="email" placeholder="exemple@mail.com" required>
				<label>Password</label>
				<input ng-model="password" type="password" name="password" required>
				<label>Password confirmation</label>
				<input same-as="password" ng-model="passwordConfirmation" type="password"
					name="passwordConfirmation" required>
				<label>Town</label>	 
				<input ng-model="town" type="text" name="town" required> <input
					class="button" type="submit" value="Register">
			</fieldset>
		</form>
	</div>
</div>