<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<!-- CONSOLE -->
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- LOG FILES -->
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
       <File>logs/batch.log</File>
       <Append>true</Append>
       <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.lesornithorynquesasthmatiques" level="INFO" />
    
    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
